.movies {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px 140px;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
}

.movies__error-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.movies__error {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.movies__button_visible {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: #F9F9F9;
  padding: 0;
  margin: 0;
  display: block;
}

.movies__button {
  display: none;
}

@media screen and (max-width: 1025px) {
  .movies {
    padding: 0 30px 140px;
  }
}

@media screen and (max-width: 670px) {
  .movies {
    padding: 8px 10px 140px;
  }
}
