.form-page-main {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 670px) {

}
