.form-page-main {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  .form-page-main {
    width: 320px;
    box-sizing: border-box;
    padding: 0 30px;
  }
}
