.profile {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 13px 0;
}

.profile__form {
  width: 36%;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.profile__input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__line {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  margin: 0;
}

.profile__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}

.profile__input {
  border: none;
  outline: none;
  font-size: 11px;
  font-weight: 400;
  text-align: end;
  width: 85%;
}

.profile__input::placeholder {
  color: #e0e0e0;
  font-size: 12px;
  font-weight: 400;
}

.profile__input[type="text"]:focus {
  color: #FF3055;
}

.profile__input[type="email"]:focus {
  color: #FF3055;
}

.profile__input:disabled {
  background-color: #fff;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 205px;
}

.profile__edit-button {
  font-size: 13px;
  font-size: 400;
  border: none;
  background-color: transparent;
  padding-bottom: 16px;
}

.profile__link {
  color: #FF004D;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.profile__submit-button {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  height: 45px;
  background-color: #3456F3;
  color: #FFF;
  margin-top: 205px;
}

.profile__submit-button_disabled {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  height: 45px;
  background-color: #F8F8F8;
  color: #C2C2C2;
  margin-top: 205px;
}


