.form__field {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  min-height: 65px;
  row-gap: 9.5px;
  padding-bottom: 21px;
}

.form__field:last-of-type {
  padding-bottom: 5px;
}

.form__label {
  color: #A0A0A0;
  font-size: 10px;
}

.form__input {
  font-size: 13px;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #F9F9F9;
  height: 46px;
  padding: 0 15px;
}

.form__input_incorrect {
  color: #FF3055;
}

.form__input::placeholder {
  color: #e0e0e0;
  font-size: 12px;
  font-weight: 400;
}


