.portfolio {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0 70px;
}

.portfolio__title {
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding-bottom: 50px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
}

.portfolio__item {
  list-style: none;
  border-bottom: 1px solid #E8E8E8 ;
  height: 67px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 22px;
}

.portfolio__item-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
}

.portfolio__link {
  padding: 17px 5px 0 0;
}

.portfolio__item-image {

}
