.app {
  background-color: #fff;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  /* flex для прилипшего footer к низу страницы */
  display: flex;
  flex-direction: column;
}
