.header__navigation {
  display: flex;
  align-items: center;
  padding: 0;
}

.header__navigation-link {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  padding-right: 16px;
}

.header__navigation-link:nth-of-type(2) {
  padding-right: 0;
}

.header__navigation-link_type_active {
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .header__navigation {
    display: none;
  }
}
