.search {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.search__form {
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background: #F9F9F9;
}

.search__input {
  border: none;
  border-radius: 40px;
  background: #F9F9F9;
  padding-left: 22px;
  width: 100%;
  height: 46px;
  font-size: 13px;
  outline: none;
}

.search__input::placeholder {
  color: #A0A0A0;
  font-size: 13px;
  font-weight: 400;
}

.search__input[type="text"]:focus {
  color: #FF3055;
}

.search__button {
  border: none;
  background: transparent;
  padding-right: 6px;
}

.search__button-image {

}

.search__line {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  margin: 0;
}
