.form {
  font-family: 'Inter', Arial, sans-serif;
}

.form__error {
  visibility: hidden;
  color: #FF3055;
  font-size: 10px;
  font-weight: 400;
}

.form__error_active {
  visibility: visible;
}

.form__button-submit {
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  border: none;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  background-color: #3456F3;
}

.form__button-submit_login {
  margin: 156px 0 3px;
}

.form__button-submit_register {
  margin: 68px 0 3px;
}

.form__button-submit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.form__title {
  color: #A0A0A0;
  font-size: 14px;
  text-align: center;
}

.form__link {
  color: #3456F3;
  font-size: 14px;
  text-decoration: none;
}

@media screen and (max-width: 670px) {
  .form__button-submit {
    font-size: 12px;
  }

  .form__button-submit_register {
    margin: 158px 0 3px;
  }

  .form__button-submit_login {
    margin: 245px 0 3px;
  }

  .form__title {
    font-size: 12px;
  }

  .form__link {
    font-size: 12px;
  }
}
