.form-page-header {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 396px;
  min-width: 320px;
  margin: 0 auto;
  padding: 70px 0 41px;
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}

.form-page-header__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
