.footer {
  flex-shrink: 0;
}

.footer__wrapper {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer__title {
  margin: 0;
  color: #A0A0A0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 53.5px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__container {
  padding-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__year {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.footer__link {
  margin: 0;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  text-decoration: none ;
}

.footer__link:nth-of-type(2) {
  padding-right: 0;
}

@media screen and (max-width: 1025px) {
  .footer__wrapper {
    padding: 0 30px 20px;
  }
}

@media screen and (max-width: 670px) {
  .footer__wrapper {
    padding: 0 10px 20px;
  }

  .footer__title {
    font-size: 12px;
  }

  .footer__container {
    padding-top: 32px;
    flex-direction: column-reverse;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 13px;
  }

  .footer__link {
    padding-right: 0;
    font-size: 12px;
  }

  .footer__year {
    color: #A0A0A0;
    font-size: 12px;
    padding-top: 32px;
  }
}
