.burger-popup {
  display: none;
}

.burger-popup_open {
  font-family: 'Inter', Arial, sans-serif;
  z-index: 999;
  display: flex;
  justify-content: end;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.burger-popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 40%;
  padding: 22.44px 22.44px 92px 22.44px;
}

.burger-popup__close-button {
  background: url("../../images/header__burger-icon-close.svg");
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  align-self: flex-end;
}

.burger-popup__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
}

.burger-popup__link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.burger-popup__link_active {
  display: table;
  border-bottom: 2px solid #000;
}

