.login {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* row-gap: 41px; */
  width: 31%;
  margin: 0 auto;
  /* padding: 70px 0; */
}
