.about-me {
  font-family: 'Inter', Arial, sans-serif;
  padding: 110px 70px 0;
}

.about-me__article-cover {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px;
}

.about-me__article {
  max-width: 600px;
}

.about-me__title {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0;
  padding-bottom: 20px;
}

.about-me__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 24px;
}

.about-me__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding-bottom: 99px;
  max-width: 599px;
}

.about-me__link-github {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.about-me__photo {
  width: 270px;
  height: 327px;
}
