.nav-bar {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar__link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-right: 40px;
}

.nav-bar__link:nth-of-type(3) {
  padding-right: 0;
}

@media screen and (max-width: 670px) {
  .nav-bar__link {
    font-size: 11px;
    padding-right: 24px;
  }
}
